.department-create-header {
    padding-top: 1em;
    display: flex;

    &__h1 {
        text-align: center;
        font: normal normal bold 40px/50px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        opacity: 1;
        margin-left: .5em;
    }

    &__button {
        background: none;
        border: none;
        margin-bottom: 1em;
        margin-top: -.5em !important;

        // height: 2em;
        &__switchUnderlined {
            padding: 0 !important;
            background: none;
            border: none;
        }

    }

}

.department-create {
    padding-left: 3.5em;

    &__left {
        text-align: left;
        font: normal normal bold 28px/34px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 24px/30px Montserrat;
            padding-bottom: 2em !important;
        }
        
    }

    &__left>h5 {

        text-align: left;
        font: normal normal bold 20px/24px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 16px/20px Montserrat;
        }
    }


    &__right {
        margin-left: -2em;

        &__searchbox {
            background: #FCFCFC 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000059;
            border-radius: 4px;
            padding-right: 0px;
            padding-left: 20px;
            opacity: 1;
            // margin-left: -2em;
            display: flex;
            width: 100%;

            &__button {
                background: transparent 0% 0% no-repeat padding-box;
                opacity: 1;
                border: none;
            }

            &__button img {
                height: 25px;
                margin-bottom: .15em;
            }
        }

        &__mainHeading {

            &__h5 {
                font: normal normal bold 21px/27px Montserrat;
                letter-spacing: 0px;
                color: #63B3CE;
                opacity: 1;
                margin-bottom: 0px;
            }

            &__p {
                margin-top: 0px;
                float: right;
                display: block;
                text-align: right;
                margin-top: 0;
                padding-top: 0;
                font: normal normal 600 14px/19px Montserrat;
                letter-spacing: 0px;
                color: #707070;
                opacity: 1;
            }
        }

        &__addButton {
            float: right;
            margin-right: 2em;
            background: #63B3CE 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000099;
            border-radius: 4px;
            border: none;
            margin-top: 1em;
            border-top: 1.5em;
            text-align: right;
            font: normal normal bold 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            padding: .75em;
        }


        &__mainDiv {
            width: 100%;
            // background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 1px #000000B3;
            border-radius: .75em;
            height: 2.5em;
            padding: 0.25em 1em;
            opacity: 1;

            display: flex;
            justify-content: space-between;
            margin-top: 0.5em !important;

            &__Rightimg {
                height: 1.75em !important;
                width: 1.75em !important;
            }

            &__insideDiv {
                &__pOne {
                    text-align: left;
                    font: normal normal bold 10px/13px Montserrat;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    margin-bottom: 0px;
                }

                &__pTwo {
                    text-align: left;
                    font: normal normal normal 9px/12px Montserrat;
                    letter-spacing: 0px;
                    color: #707070;
                    opacity: 1;

                }
            }
        }
    }
}

.department-create--footer {
    margin-top: 2em;
    margin-left: 18em;

    &__buttonCancel {

        // width: 20em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        text-align: center;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #BC0000;
        padding: 1em !important;
        border: none;

    }

    
    &__buttonCancel:hover {

        background-color: #cfcaca !important;


    }

    &__buttonOk {
        // width: 20em;
        text-align: center;
        font: normal normal bold 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        background: #00506A 0% 0% no-repeat padding-box;
        border-radius: 4px;
        border: none;
        padding: 1em;
        opacity: 1;
    }
}

.form-group {
    position: relative;
    // padding: 0.4em;;
    width: 442px;
    border-radius: 2px !important;
    height: 40px;
    margin-top: 1em;
    background: #FFFFFF00 0% 0% no-repeat padding-box;

    border: 2px solid #707070;
    // margin:10px;
}

.form-group>label {
    position: absolute;
    top: -0.75em;
    ;
    border-radius: 4px;
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    left: 20px;
    // padding: .25em;
    background-color: white;
}

.form-group>input {
    border: none;
}

.form-group>select {
    border: none;
}

/* remove the original arrow */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-bottom: 2px solid #707070;
}

select::-ms-expand {
    display: none;
}

select+i.fa {
    float: right;
    margin-top: -1.25em;
    margin-right: 10px;
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    background-color: transparent;
    color: black !important;
    padding-right: 5px;
}

select option {
    padding-right: 21px;
    border-bottom: 2px solid #707070;

}

.segment-create--footer {
    display: flex;
}
.form-width{
    margin-top: 1em;
    margin-left: -3em;
    margin-right: 3em;
    
    @media only screen and (max-width: 992px) {
    width: 24em;
    
    }
    @media only screen and (max-width: 902px) {
        width: 20em;
        
        }
    
}
.MuiStepConnector-lineVertical {
    border-left: 2px solid #0C4523 !important;

} 
.MuiSvgIcon-root MuiStepIcon-root MuiStepIcon-completed{
  color: #0C4523;  
}
