.department-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    // margin-bottom: 3em;
    &__h1 {
        // text-align: center;
        font: normal normal bold 40px/50px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        opacity: 1;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 26px/36px Montserrat !important;
        }
    }

    &__p {
        text-align: left;
        font: normal normal normal 12px/22px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }

    &__buttons {
        // width: 19em;
        float: right !important;

        &__addButton {
            background: #00506A 0% 0% no-repeat;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 6px;
            border: none;
            // width: 19em;
            height: 3em;
            opacity: 1;
            font: normal normal 600 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: .5em;
            @media only screen and (max-width: 992px) {
                font: normal normal bold 12px/15px Montserrat !important;
            }
        }
        &__downloadButton {
            background: #63B3CE 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000099;
            border-radius: 6px;
            font: normal normal 600 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            height: 3em ;
            margin-bottom: .5em;
            // margin-right: 2em;
            opacity: 1;
            border: none;

            @media only screen and (max-width: 992px) {
                font: normal normal 600 12px/15px Montserrat;

            }
        }

        &__deleteButton {
            background: #E24C4B 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000099;
            border-radius: 4px;
            width: 19em;
            border: none;
            height: 3em;
            opacity: 1;
            font: normal normal 600 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: 1em;
            @media only screen and (max-width: 992px) {
                font: normal normal bold 12px/15px Montserrat !important;
            }
        }

        &__icAdd {
            height: 1em;
            margin-bottom: .20em;
        }
    }
}

.dept-accordion-header {
    &__link {
        &__btn {
            background: none;
            border: none;
            text-decoration: underline;
            color: #707070;
            // float: right;
            text-align: left !important;
            font: normal normal bold 15px/19px Montserrat;

            @media only screen and (max-width: 992px) {
                font: normal normal bold 10px/13px Montserrat;
            }

        }
    }

    &__heading {
        text-align: left;
        font: normal normal bold 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 12px/15px Montserrat;
        }

        opacity: 1;
        margin-bottom: 0;
    }

    &__data {
        text-align: left;
        font: normal normal normal 16px/19px Montserrat;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 12px/15px Montserrat;
        }

        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }
}

.department-main-heading {
    opacity: 1;
    margin-top: 1em !important;

    &__dept {

        text-align: center;
        font: normal normal bold 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        border: none;
        background-color: white;
        opacity: 1;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 12px/18px Montserrat;
        }

    }

    &__exdept {

        text-align: left;
        font: normal normal bold 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        border: none;
        background-color: white;
        opacity: 1;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 10px/14px Montserrat;
        }
    }

    &__extodos {
        text-align: left;
        font: normal normal normal 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        border: none;
        background-color: white;

        @media only screen and (max-width: 992px) {
            font: normal normal normal 10px/14px Montserrat;
        }
    }


    &__todos {
        text-align: center;
        font: normal normal bold 16px/22px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        border: none;
        background-color: white;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 12px/18px Montserrat;
        }
    }
}

.dept-acc-header {

    &__link {
        &__btn {
            background: none;
            border: none;
            text-decoration: underline;
            color: #707070;
            // float: right;
            text-align: left !important;
            font: normal normal bold 15px/19px Montserrat;

            @media only screen and (max-width: 992px) {
                font: normal normal bold 10px/13px Montserrat;
            }

        }
    }

}

.dept-acc-body-one {
    display: flex;

    &__heading {
        text-align: center;
        display: inline;
        font: normal normal bold 18px/22px Montserrat;
        letter-spacing: 0px;
        color: #006594;
        padding-right: .25em;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 15px/18px Montserrat;
        }
    }

    &__p {
        display: inline;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 11px/14px Montserrat;
        }
    }


}

.dept-acc-body-two {
    display: flex;
    justify-content: space-between;

    &__ul {
        list-style-type: square;
        text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0px;
color: #707070;
opacity: 1;
@media only screen and (max-width: 992px) {
    font: normal normal normal 11px/14px Montserrat;
}
    }
}

// .accordion-button {
//     border-bottom: #00506A !important;
// }

.department-hr {
    color: #00506A;
    height: .2em !important;
    margin-top: 2em;
}

.dropdown {
    position: relative;
    width: 10em !important;
    // display: inline-block;
    &__dropdown-icons{
        height: 1.25em !important;
    }
    &__dropdown-content {

        position: absolute;
        background-color: #ffffff !important;
        width: 17em !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        right: 2em;
        z-index: 1;
    }
}

.department-accordion {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #000000B3;
    border-radius: 8px;
    opacity: 1;
    width: 100%;
    // margin-bottom: 2em;
}

.department_arrow_down {
    font-size: 3em;
    position: absolute;
    top: -.2em;
    // margin-bottom: .5em !important;
    color: #00506A;

    @media only screen and (max-width: 992px) {
        font-size: 1.5em !important;
        top: .8em;
    }


}

// .accordion-button{
//     border-bottom: 3px dashed #00506A !important;
//     // border-radius: 1em !important;

// }
.accordion-button:not(.collapsed) {
    border-bottom: 2px dashed #00506A !important;
}



.roles-acc-body-one {
    ul {
        list-style: none;
    }

    ul li::before {
        content: "\2022";
        color: #63B3CE;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    &__rolesP {

        display: inline;
        font: normal normal normal 16px/18px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        opacity: 1;
    }

    &__rolesLiP {
        text-align: left;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }
}
.back-arrow{
    height: .75em;
    margin-bottom: .25em;
    margin-right: .25em;
}
.modal-backdrop {
    background-color: transparent !important;
    backdrop-filter: blur(1px) !important;

}
.css-1p823my-MuiListItem-root{
    display: block !important;
}