.log {
    margin: 0 5em;
}

.log-header-pTwo {
    float: right;
    margin-right: 2em;

    &__p {
        text-align: right;
        font: normal normal 600 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }
}

.logo-imgs-set {
    display: flex;

    &__iOne {
        height: 3em;
        padding: .25em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #707070;
        border-radius: 0px 4px 4px 0px;
        opacity: 1;
    }

    &__iTwo {
        height: 3em;
        padding: .25em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #707070;
        border-radius: 4px 0px 0px 4px;
        opacity: 1;
    }
}

.log-mainRow {
    &__col {
        text-align: center;
        font: normal normal bold 24px/32px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        opacity: 1;
    }
}

.log-hr {
    margin-left: 2em;
    // color: #63B3CE;
    border-bottom: .25em dotted #63B3CE;
    // height: .25em !important;
}

.log-subRow {
    // padding: 5em 0 !important;

    &__img {
        margin: .5em 0 !important;
        height: 1em;
        // text-align: left !important;
        // margin-left: 5em !important;
    }

    &__colHeading {
        text-align: center;
        font: normal normal normal 12px/15px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        padding: .5em !important;

        opacity: 1;
    }

    &__colName {
        text-align: center;
        font: normal normal bold 12px/15px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        padding: .5em !important;

        margin: 1em !important;
        opacity: 1;
        // margin-left: 5em !important;
    }

    &__colAction {
        text-align: center;
        margin: 1em !important;
        font: normal normal normal 12px/15px Montserrat;
        letter-spacing: 0px;
        padding: .5em !important;

        color: #37474F;
        opacity: 1;
    }

    &__colFetch {
        text-align: right;
        font: normal normal 100 10px/12px Montserrat;
        letter-spacing: 0px;
        color: #37474F;
        margin: 1em !important;
        padding: .5em !important;
        opacity: 1;
    }
}