.roles-header {
    padding-top: 1em;
    margin-bottom: 3em;

    &__h1 {

        text-align: left;
        font: normal normal bold 40px/50px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        opacity: 1;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 26px/36px Montserrat !important;
        }
    }

    &__addButton-switch {
        background: #63B3CE 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 4px #00000099;
        border-radius: 4px;
        opacity: 1;
        border: none;
        font: normal normal bold 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 12px/36px Montserrat !important;
        }
    }

    &__addButton {
        background: #00506A 0% 0% no-repeat;
        // box-shadow: 0px 0px 4px #00000080;
        border-radius: 6px;
        border: none;
        opacity: 1;
        font: normal normal 600 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;

        @media only screen and (max-width: 992px) {
            font: normal normal 600 12px/15px Montserrat;

        }

    }

    &__icAdd {
        height: 1em;
        margin-bottom: .20em;

        @media only screen and (max-width: 992px) {
            // font: normal normal 600 12px/15px Montserrat;
            height: .5em !important;

        }
    }

    &__icAdd-search {

        height: 1.5em;
        margin-bottom: .20em;
    }



}

.roles-main-heading {
    opacity: 1;
    // margin:x ;

    &__roles {
        text-align: center;
        font: normal normal bold 20px/39px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        border: none;
        background-color: white;
        border-bottom: 2px solid #707070;
    @media only screen and (max-width: 992px) {
            font: normal normal bold 14px/22px Montserrat;
        }

    }
    &__extract {
        text-align: right;
        font: normal normal bold 20px/39px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        border: none;
        background-color: white;
        // border-bottom: 2px solid #707070;
    @media only screen and (max-width: 992px) {
            font: normal normal bold 14px/22px Montserrat;
        }

    }

    &__permission {
        text-align: center;
        font: normal normal bold 20px/28px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        border: none;
        background-color: white;
        border-bottom: 2px solid #707070;

        @media only screen and (max-width: 992px) {
            font: normal normal bold 14px/22px Montserrat;
        }
    }
}

.roles-delete {
    display: flex;
    justify-content: end;
    margin-top: 1em;

    &__button {
        background: #E24C4B 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 6px;
        opacity: 1;
        height: 3.5em;
        text-align: center;
        padding: .5em;
        font: normal normal bold 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}

.roles-subheader {
    &__h3 {
        text-align: left;
        font: normal normal bold 28px/34px Montserrat;
        letter-spacing: 0px;
        color: #63B3CE;
        opacity: 1;

    }
}

ul {
    // display: list-item;
    list-style-position: outside;
    margin-left: 2em;
    padding: 0;
    list-style-type: square;
    color: blue;
}

.roles-extra {
    

    &__buttonLightBlue {
        height: 3.5em;
        border: none;
        background: #63B3CE 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font: normal normal 600 10px/10px Montserrat;
        margin-right: 1em;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 8px/8px Montserrat;
        }
    }

    &__buttonDarkBlue {

        height: 3.5em;
        border: none;
        background: #006594 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font: normal normal 600 10px/10px Montserrat;
        letter-spacing: 0px;
        color: #FCFCFC;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            font: normal normal bold 8px/8px Montserrat;
        }
    }


}

.roles-main-table {
    margin-top: 1em;

    &__h6 {
        // text-align: left;
        font: normal normal bold 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #00506A;
        opacity: 1;
        justify-content: center;
        
    @media only screen and (max-width: 992px) {
        font: normal normal bold 10px/16px Montserrat;
        color: #00506A;

    }
    }

    &__root {
        // text-align: left;
        // margin-left: 3em;

        &__label {
            font: normal normal normal 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #63B3CE;
            opacity: 1;
            @media only screen and (max-width: 992px) {
                font: normal normal normal 10px/14px Montserrat;
                color: #63B3CE;;
                text-align: start;
            }
        }
    }

    &__DataRow {
        // text-align: center;
        // background: #FFFFFF 0% 0% no-repeat;
        // box-shadow: 2px 2px 4px #00000080;
        // border-radius: 6px;
        opacity: 1;
        // height: 2em;

        padding-left: 2em !important;
        margin-top: 1em;
        @media only screen and (max-width: 992px) {
            
    
        }
    }

    &__boldData {
        text-align: left;
        font: normal normal bold 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            
font: normal normal bold 12px/15px Montserrat;

        }
    }

    &__normalData {
        text-align: left;
        font: normal normal normal 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        @media only screen and (max-width: 992px) {
            
            font: normal normal normal 12px/15px Montserrat;
            
                    }
    }

    &__DataRows {
        text-align: left;
        // font: normal normal normal 18px/16px Montserrat;
        // padding-bottom: 5em !important;
        background: #FFFFFF 0% 0% no-repeat;
        box-shadow: 2px 2px 4px #00000080;
        border-radius: 6px;
        color: #00506A;

        opacity: 1;
        // height: 2em;
        margin-top: 5em !important;
    }

    &__firstCol {
        font: normal normal normal 16px/22px Montserrat;
        @media only screen and (max-width: 992px) {
            
            font: normal normal normal 10px/22px Montserrat;
    
        }


    }
}

.permission-role {
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000059;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 20px;
    opacity: 1;
    display: flex;
    width: 90vw;
    margin-top: 1em;

    &__inputText {
        width: 100%;
        height: 35px;
        text-align: left;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        border: none;
    }

    &__Searchbutton {
        background: transparent 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
        margin-right: 1em;
        margin-bottom: .2em;
    }
}

.role-model-top {
    text-align: left !important;
    font: normal normal bold 12px/29px Montserrat;
    letter-spacing: 2px !important;
    margin-top: 1.5em !important;
    color: #00506A !important;
    // margin-left: 1em;
    opacity: 1 !important;
}

.role-model-top-internet {
    text-align: center !important;
    font: normal normal bold 24px/29px Montserrat;
    letter-spacing: 8.4px !important;
    color: #00506A !important;
    opacity: 1 !important;
    margin-top: 1.5em !important;
    margin-left: 20% !important;
}

// .modal-content{
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     box-shadow: 0px 0px 4px #00000080;
//     border-radius: 6px;
//     width: 25em !important;
//     opacity: 1;
//     text-decoration: none !important;
// }
.modal-header {
    border: none !important;
    padding: .5em 1em !important;
}

ul {
    list-style-type: square;
    color: blue;
}

.modal-footer {
    border: none !important;
    margin: 0 auto !important;

}

.modal-body {
    margin-bottom: 0 !important;
}

.btn-close {
    color: red !important;
    margin-top: -2em !important;
    margin-right: -1 !important;
}

.role-model-body {
    &__heading {
        text-align: left;
        font: normal normal 600 18px/22px Montserrat;
        letter-spacing: 0px;
        margin: .5em 0;
        color: #707070;
        opacity: 1;
    }

    &__settingheading {
        text-align: center;
        font: normal normal 400 18px/22px Montserrat;
        letter-spacing: 0px;
        margin: -1em 2em;
        color: #707070;
        opacity: 1;
    }

    &__alertheading {
        text-align: center;
        font: normal normal 600 18px/22px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }

    &__p {
        text-align: left;
        font: normal normal 100 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }

    &__p2 {
        text-align: left;
        font: normal normal 300 18px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }

    &__ul {
        display: list-item;
        list-style-position: outside;
        margin-left: 2em;
        padding: 0;
        list-style-type: square;
        color: blue;

        &__li span {
            text-align: left !important;
            letter-spacing: 0px !important;
            color: #707070 !important;
            opacity: 1 !important;

        }

        li ::before {
            color: red !important;
        }

        &__li p {
            display: inline !important;
            width: 15em !important;
            text-align: left;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0px;
            color: #707070;
        }

        &__li {
            display: flex;
            justify-content: space-between;

            &__btn {
                background-color: white !important;
                border: none;

            }
        }
    }
}

.role-model-confirm-btn {
    background: #00506A 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 10em;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

.role-model-internet-confirm-btn {

    background: #00506A 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 15em;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

.role-modal {
    width: 100em !important;
    margin: auto;

    &__contact {
        display: flex;
        justify-content: space-between;
    }
}
.department-info-role{
    width: 37.5 !important;
    margin: auto;
    
    &__field {
        // width: 150%;
        width: 100%;
        height: 3em;
    }
}

.user-info-role {
    width: 37.5 !important;
    margin: auto;

    &__field {
        width: 150%;
        height: 3em;
    }
    &__fieldModal{
        width: 28em;
        height: 3em;
        @media only screen and (max-width: 1160px) {
        width: 25em;
        }
        @media only screen and (max-width: 1065px) {
            width: 22em;
            }
            @media only screen and (max-width: 992px) {
                width: 30em;
                }
    }
}

.input-group-role {
    position: relative;
    margin-left: 2em !important;
    margin-bottom: 10px;
    // box-shadow: 10px 4px 4px #0000001a;
    width: 2em;

    &__label {
        position: absolute;
        top: -.5em;
        left: 15px;
        padding-right: 2em !important;
        // font-size: 14px;
        color: #707070;
        background-color: #ffffff;
        line-height: 0;
        padding: 0 8px;
        letter-spacing: 0.02rem;
        font: normal normal bold 14px Montserrat;
    }
}

.role-model-close-btn {
    width: 10em;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #BC0000;
    opacity: 1;
    height: 3.3em !important;
}

.role-model-close-btn:hover {
    background-color: #cfcaca !important;

}

.role-form-group {
    position: relative;
    // padding: 0.4em;;
    width: 20em;
    height: 2em;
    margin-top: 1em;
    // background: #FFFFFF00 0% 0% no-repeat padding-box;
    margin-top: 1em !important;
    border-bottom: 2px solid #707070;
    border: 2px solid #707070;
    margin-bottom: 2em;
    // margin:10px;
}

.role-form-group>label {
    position: absolute;
    top: -0.75em;
    ;
    border-radius: 3px;
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    left: 20px;
    // padding: .25em;
    background-color: white;
}

.role-form-group>input {
    border: none;
}

.role-form-group>select {
    border: none;
}


.modal-content {
    // height: 40em !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000080;
    border-radius: 6px;
    // width: 25em !important;
    opacity: 1;
    text-decoration: none !important;
}

.new_role_available {
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #146f62;
        text-align: right;
    }

    p {
        font-size: 1rem;
        padding-top: 0.5rem;
        font-weight: 600;
        color: #707070;
        text-align: center;
    }

    .new_role_available_container {
        background-color: #e1e1e1;
        border-radius: 10px;
        padding: 9px;
        height: 30rem;
        overflow-y: scroll;

        .accordion-item {
            box-shadow: none !important;
            background-color: transparent;

            h2 {
                box-shadow: 0px 0px 4px #000000b3 !important;
                border-radius: 10px;
                border-radius: 3px !important;
                font-size: 12px;
            }
        }

        .accordion-item .accordion-button {
            background-color: #00506A !important;
            color: #fff;
            opacity: 0.8;
            border-radius: 3px !important;
            font-size: 12px;
            // margin-bottom: 5em ;
            text-transform: uppercase;

        }

        .accordion-button:not(.collapsed) {
            background-color: #00506A !important;
            color: #fff;
            opacity: 0.8;
            border-radius: 3px !important;
            font-size: 12px;
            text-transform: uppercase;
        }

        .accordion-body {
            margin-top: 10px;
            padding: 10px 1rem;
            border-radius: 5px;
            color: #707070;
            background-color: #fff;
            font-size: 10px;
            height: 38px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            box-shadow: 0px 0px 2px #000000b3 !important;

            img {
                width: 11px;
                height: 18px;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}