.user-detail {
  box-shadow: 0px 0px 4px #00000080;
  border-radius: 6px;
  width: 100%;
  display: flex;
  max-width: 900px;
  margin: auto;
  position: relative;
  padding: 15px;
  &__all {
    width: 450px;
    padding-top: 65px;
    border-right: 3px dashed #006837;
  }
  table {
    width: 100%;
  }
  th {
    width: 40%;
    padding-left: 20px;
    font: normal normal normal 17px Montserrat;
  }
  td {
    text-align: right;
    padding-right: 50px;
    font: normal normal normal 16px Montserrat;
    letter-spacing: 0px;
    color: #707070;
  }
}

.user-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  left: 160px;
  top: -65px;
}

.button-primary {
  background-color: #006837;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px 40px 8px 40px;
  font: normal normal normal 14px Montserrat;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #cbcdd9;
  :hover {
    background-color: #2eb10d;
    color: #ffff;
  }
}

.btn-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.copy-text-area {
  width: 328px;
  border: none;
  outline: none;
  background-color: #e1e1e1;
  border-radius: 4px;
  padding: 3px 10px 3px 30px;
  font-size: 14px;
  color: #707070;
  font-weight: 600;
  margin-top: 10px;
  ::placeholder {
    font-size: 14px;
    color: #707070;
  }
}

.text-filed-icon{
    position: relative;
    span{
        position: absolute;
        right: 10px;
        top:9px
    }
}
