body{
top: 0px;
left: 0px;
background: #FCFCFC 0% 0% no-repeat padding-box;
opacity: 1;
}




.left_image{
width: 100%;
height: 100vh;
}
.user_password{
    height: 46px;
    width: 80%;
    margin: auto 0;
    text-align: left;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #00506A;
    opacity: 1;
    border: none;
}
input[type=password]:focus {
    outline: none;
}
input[type=password]::placeholder {
    color: #00506A;
}
.right_text{
    width: 100%;
    margin-top: 1em;
    text-align: center;
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #63B3CE;
    opacity: 1;
}
.img-size-right{
    height: 9em;
    margin: auto;
}
.submit_button{
    background: #00506A 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: none;
    width: 100%;
    opacity: 1;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
}
.submit-div{
    width: 23em;
}
.form-width{
    width: 20em;
}
.bottom_right{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: auto;
    font: normal normal 400 16px/20px Montserrat;
    height: 24px;
    letter-spacing: 0px;
    color: #63B3CE;
    opacity: 1;
    @media only screen and (max-width: 992px) {
        font: normal normal 400 20px/22px Montserrat;
        }
}
.welcome_text{
    margin-top: 1em;
    letter-spacing: 0px;
    color: #00506A;
    text-align: center;
    font: normal normal normal 20px/25px Montserrat;
    opacity: 1; 
}
.welcome_text span {
    font: normal normal bold 20px/25px Montserrat;
    letter-spacing: 0px;
    color: #00506A;

}
.token_text{

    font: normal normal normal 16px/25px Montserrat;
    letter-spacing: 0px;
    color: #00506A;
    opacity: 1;
    text-align: center;
    margin: 0 32px;
}
.user_input{
    display: flex;
    justify-content: center;
    margin: auto;
    // margin-bottom: 1.25em;
}
.otp_text{
    margin: 4px;
    height: 3em;
    width: 3em;
    text-align: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 2px solid #00506A;
    border-radius: 8px;
    opacity: 1;
}