@import "./Login/login.scss";
@import "./Login/login2.scss";
@import "./PasswordReset/PasswordChange.scss";
@import "./NavigationPanel/NavigationPanel.scss";
@import "./Allpage/Allmodal.scss";
@import "./Allpage/CustomCheckBox.scss";
@import "./Allpage/example.scss";
@import "./Allpage/nameResponse.scss";
@import "./Allpage/SearchModule.scss";
@import "./Allpage/user.scss";
@import "./Allpage/userDetail.scss";
@import "./NavBar/AddUser.scss";
@import "./NavBar/Navbar.scss";
@import "./NavBar/Search.scss";
@import "./NavBar/SearchMain.scss";
@import "./Allpage/Actual.scss";
@import "./Allpage/RoleModuleRoles.scss";
@import "./Allpage/Alert.scss";
@import "./Allpage/Departments.scss";
@import "./Allpage/createDepartment.scss";
@import "./Allpage/internetConnection.scss";
@import "./Allpage/logModule.scss";
@import "./Allpage/Settings.scss";
@import "./Allpage/Images.scss";
@import "./Allpage/Report.scss";
@import "./Allpage/Case.scss";
@import "./Allpage/Switch.scss";
@import "./Allpage/Segment.scss";
@import "./Allpage/RolesPanel.scss";
@import "./Allpage/ExtractPhone.scss"